/* 	==========================================================================
   	Global styles
   	========================================================================== */
	body{
			height:100%;
			width: 100%;
	}
	h1, h2, h3, h4, h5, h6, p, a, .btn, .navbar-nav a, .form-control, .list-inline, small{
			font-family: "Noto Sans SC", sans-serif;
			margin:0;
	}
/* 	========================================================================== */

/*	------------------Utilities------------------------------------------------ */
	a {
  		color: inherit;
  		font-weight: inherit;
  		font-size: inherit;
  		text-decoration: none;
	}

	a:hover, a:focus {
  		text-decoration: none;
  		color: #231f20;
  		-webkit-transition: all 0.35s ease-in-out;
  		-moz-transition: all 0.35s ease-in-out;
  		-o-transition: all 0.35s ease-in-out;
  		transition: all 0.35s ease-in-out;
	}

	.fa-lg {
  		font-size: 1.33333em;
  		line-height: 0.75em;
  		vertical-align: -10%;
	}

	::selection {
			background: #231f20; /* Safari */
			color: #FFFFFF;
	}

	::-moz-selection {
			background: #231f20; /* Firefox */
			color: #FFFFFF;
	}

	.row{
			margin-right: 0;
			margin-left: 0;
	}

	.container{
			margin: 0;
	}

	.img-responsive{
		max-width: 100%;
		height: auto;
	}

	.padding-inline-start-10{
		padding-inline-start: 10%;
	}
/*	--------------------------------------------------------------------------- */

/* ==========================================================================
   Nav Styles
   ========================================================================== */
   .navbar {
    	border: 0px solid rgba(0, 0, 0, 0);
    	background: #70cbce;
    	margin: auto;
    	min-height: 40px;
    	padding-top: 2px;
    	position: fixed;
    	top: -130px;
    	transition: top 0.4s ease 0s;
	}

	.navbar.open {
    	top: 0;
	}

	.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    	color: #ffffff;
    	font-size: 10px;
    	letter-spacing: 0.3px;
	}

	.navbar-inverse .navbar-nav > li > a:hover {
    	color: #ffffff;
    	opacity: 0.6;
	}

	.nav > li > a {
    	position: relative;
    	display: block;
    	padding: 10px 10px;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    	border-color: #4ec3cd;
	}

	.navbar-inverse .navbar-toggle {
    	border-color: transparent;
	}

	.fixedNav{
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
	}

	.fixedNav_logo{
			margin-top: 0.7%;
			padding: 0;
	}

	.logo-img{
			max-width: 75%;
			height: auto;
	}

	.navbar .fixed-nav{
			margin-top:2.25%;
			padding: 0;
	}

	.fixed-nav ul{
	  	list-style-type:none;
			padding-inline-start:10%;
	}

	.fixed-nav li{
			display: inline-block;
	  	margin: 0 1.302vw 0 1.302vw;
	}

	.fixed-nav a{
			font-family: "Noto Sans SC", sans-serif;
	  	display: block;
	  	font-size: 1.302vw;
	  	font-weight: normal;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #ffffff;
	}

	.navbar .fixed-nav>li>a:hover{
  		color: #ffffff;
  		opacity: 0.6;
	}

	.navbar-right{
  		width: auto;
	}

	.fixed_sigin{
			margin-top: 1.7%;
			margin-bottom: 1.7%;
			padding: 0;
	}


/* ========================================================================== */

/* 	==========================================================================
   	Main styles
   	========================================================================== */
	/*-------------------------header start here---------------------------------*/
	header{
  		width: 100%;
  		padding: 0px;
			height: auto;
	}

	.animated-icon2 {
			width: 30px;
			height: 20px;
			position: relative;
			margin: 0px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
		}

	.animated-icon2 span{
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}

	.animated-icon2 span {
			background: #e3f2fd;
	}

	.animated-icon2 span:nth-child(1) {
			top: 0px;
	}

	.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
			top: 10px;
	}

	.animated-icon2 span:nth-child(4) {
			top: 20px;
	}

	.animated-icon2.open span:nth-child(1) {
			top: 11px;
			width: 0%;
			left: 50%;
	}

	.animated-icon2.open span:nth-child(2) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
	}

	.animated-icon2.open span:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
	}

	.animated-icon2.open span:nth-child(4) {
			top: 11px;
			width: 0%;
			left: 50%;
	}

	.topNav{
			margin: 0px;
			height: 106px;
	}

	.topNav_logo{
			margin-top: 0.5%;
			padding-left: 0;
			padding-right: 0;
	}

	.scroll-nav{
			margin-top:2%;
			padding: 0;
	}

	.scroll-nav ul{
	  	list-style-type:none;
	  	padding-inline-start:10%;
	}

	.scroll-nav li{
	  	display: inline-block;
	  	margin: 0 1.302vw 0 1.302vw;
	}

	.scroll-nav a{
	  	display: block;
	  	font-size: 10px;
	  	font-weight: 500;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #ffffff;
	}

	.signin{
			margin-top: 1.7%;
			padding: 0;
	}

	.topNav_btn {
			width:7.986vw;
			height:auto;
			border-radius: 4px;
			background-color: #ffffff;
	}

	.topNav_btn p{
  		font-family: "Noto Sans SC", sans-serif;
  		font-size: 1.107vw;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		letter-spacing: 0.2px;
  		color: #0fafff;
	}

	.header-info {
  		width: 100%;
	}

	#section1{
			padding: 0% 10.42% 0% 10.42%;
			min-height: 370px;
			height:50vh;
			width: 100%;
			background: url(../img/header-bg.jpg) no-repeat center center;
  		background-size: cover;
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
	}

	.slogan{
			font-size: 4.05vw;
			color: #ffffff;
			font-weight: 600;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.5px;
			margin-top: 10%;
	}

	/* The sidebar menu */
.sidebar {
  	height: 100%; /* 100% Full-height */
  	width: 0; /* 0 width - change this with JavaScript */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Stay on top */
  	top: 0;
  	left: 0;
  	background-color: #70cbce;
  	overflow-x: hidden; /* Disable horizontal scroll */
  	padding-top: 60px; /* Place content 60px from the top */
  	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 25px;
  	color: white;
  	display: block;
  	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  	font-size: 20px;
  	cursor: pointer;
  	background-color: #111;
  	color: white;
  	padding: 10px 15px;
  	border: none;
}

.openbtn:hover {
  	background-color: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  	transition: margin-left .5s; /* If you want a transition effect */
  	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  	.sidebar {padding-top: 15px;}
  	.sidebar a {font-size: 18px;}
}
/*-------------------------header end here---------------------------------*/

/*-------------------------#AboutUs start here-----------------------------*/
	#AboutUs {
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #ffffff;
	}

	.aboutUS-title{
			padding: 10% 0 7.5% 0;
	}

	.aboutUS-title h1{
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			height: auto;
	  	font-family: "Noto Sans SC", sans-serif;
	  	font-size: 2.083vw;
	  	font-weight: 500;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.4px;
			text-align: center;
	  	color: #12272e;
	}

	.thumbnail{
	  	position: relative;
	  	top:25%;
	  	border: 0 none;
	  	box-shadow: none;
	}

	.aboutUS-sutitle h3{
			font-family: "Noto Sans SC", sans-serif;
			font-size: 1.693vw;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #12272e;
			text-align: center;
			margin: 2% 0 2% 0;
	}

	.aboutUS-sutitle p{
			font-family: "Noto Sans SC",sans-serif;
			font-size: 1.302vw;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.56;
			letter-spacing: 0.2px;
			text-align: center;
			color: #415258;
	}

/*-------------------------#AboutUs end here-------------------------------*/

/*-------------------------#Rent start here-----------------------------*/
	#Rent{
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #f2fbfe;
	}

	.rent-left h2{
			font-family: "Noto Sans SC", sans-serif;
			font-size: 2.865vw;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			color: #12272e;
			margin: 15% 0 4% 0;
	}

	.rent-left p{
			width: 90%;
			font-family: "Noto Sans SC",sans-serif;
			font-size: 1.693vw;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #415258;
	}

	.mySlides {
			display: none;
	}

	img {
			vertical-align: middle;
	}

	/* Slideshow container */
	.slideshow-container {
	  	max-width: 50%;
	  	margin: auto;
	}

	.carousel-indicators{
		position: relative;
	}

	.carousel-indicators li{
		width: 1.042vw;
		height: 1.042vw;
		background-color: gray;
	}

	.carousel-indicators .active{
		width: 1.042vw;
		height: 1.042vw;
		background-color: black;
	}

	.rent-right img{
			margin-top:30%;
			margin-left: 10%;
	}

	.rent-right button{
			position: relative;
			left:25%;
			right:25%;
			margin-top: 5%
			margin-bottom: 10%
	}

	.rentbtn{
			width: 75px;
			height: 30px;
  		height: auto;
  		border-radius: 4px;
  		background-color: #0fafff;
			margin-bottom: 10%;
	}

	.rentbtn p{
			font-size: 8.5px;
  		font-family: "Noto Sans SC",sans-serif;
  		font-weight: 600;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
	}

/*-------------------------#Rent end here-------------------------------*/

/*-------------------------#OurStory start here-----------------------------*/
	#OurStory {
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #ffffff;
	}

	#TeamPic {

	}

	#TeamPic img{
		max-width: 55%;
		height: auto;
		margin: 40% 10% 20% 45%;
	}

	.story	{
			position: absolute;
			width: 40%;
			height: auto;
  		border-radius: 18px;
  		box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.08);
  		background-color: #ffffff;
			padding: 0 5% 0 5%;
			margin: 10% 0 0 0;
	}

	.story h2 {
			font-family: "Noto Sans SC",sans-serif;
			font-size: 2.865vw;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			color: #12272e;
			margin: 7% 0 5% 0;
	}

	.story p {
  		font-family: "Noto Sans SC", sans-serif;
  		font-size: 1.693vw;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: 1.59;
  		letter-spacing: 0.3px;
  		color: #415258;
			margin-bottom: 7%;
	}
/*-------------------------#OurStory end here-------------------------------*/
/*-------------------------#OurTeam start here-----------------------------*/
	#OurTeam {
  		background-color: rgba(242, 251, 254, 1);
			padding: 0% 10.42% 0% 10.42%;
			margin: 0;
	}

	#OurTeam h1{
	  	font-family: "Noto Sans SC", sans-serif;
	  	font-size: 2.865vw;
	  	font-weight: 500;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.5px;
	  	color: #12272e;
			margin-left: auto;
			margin-right: auto;
			margin-top:20%;
			margin-bottom:20%;
			text-align: center;
	}

	.members {
			padding: 0px;
	}

	#OurTeam img{
	  	margin: auto;
	  	display: block;
			margin-bottom: 10%;
	}

	#OurTeam p._name{
	  	font-size: 1.528vw;
	  	text-align: center;
	  	font-family: "Noto Sans SC", sans-serif;
	  	font-weight: 700;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #262a3e;
	}

	#OurTeam p._title{
	  	font-size: 1.250vw;
	  	text-align: center;
	  	font-weight: normal;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #415258;
			margin-bottom: 10%;
	}
/*-------------------------#OurTeam end here-------------------------------*/

/*-------------------------#JoinUs start here-----------------------------*/
	#JoinUs {
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #ffffff;
	}

	.join-left h2{
			font-family: "Noto Sans SC",sans-serif;
			font-size: 2.865vw;
			font-weight: 700;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			color: #12272e;
			margin-top: 15%;
			margin-bottom: 5%;
	}

	.join-left .subtitle{
			font-family: "Noto Sans SC", sans-serif;
			font-size: 1.693vw;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #415258;
			margin-bottom: 7.5%;
	}

	.join-left h3{
  		font-family: "Noto Sans SC", sans-serif;
  		font-size: 2.083vw;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: normal;
  		color: #12272e;
			margin-bottom: 15px;
	}

	.positions-list{
		margin-top: -25%;
	}

	.join-left .opening-positions{
  		font-size: 1.693vw;
  		font-weight: normal;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.3px;
  		color: #12272e;
			margin-bottom: 25px;
	}

	.join-left button{
			width: 75px;
  		height: 30px;
  		border-radius: 4px;
  		background-color: #0fafff;
  		font-family: "Noto Sans SC",sans-serif;
  		font-size: 9.5px;
  		font-weight: 400;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
			margin-bottom: 15%;
	}

	.join-right{
			margin-top: 13%;
	}

	.points{
			margin-bottom: 10%;
	}

	.check_mark{
			object-fit: contain;
	}

	.join-right p{
			height: 60px;
			font-size: 1.693vw;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #12272e;
	}


/*-------------------------#JoinUs end here-------------------------------*/

/*-------------------------#Popup Windows end here-------------------------------*/
#subscriber_form{ display:none; }
#subscriber_form {
	margin: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    max-height: 1080px;
    position: fixed;
    background: rgba(70, 71, 72, 0.69);
}
#sub_div_form {
	width: 240px;
	height: 210px;
    margin: 0 auto;
    background: white;
    margin-top: 15%;
    padding: 45px;
    border: 1px solid #9E9E9E;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
#sub_div_form span {
	position: relative;
    float: right;
    font-weight: 700;
    margin-top: -40px;
    height: 15px;
    font-size: 18px;
    line-height: 15px;
    margin-right: -40px;
    padding: 7px;
}

span#kv_form_close:hover {
    color: #e0190b;
}

@media screen and (max-width: 440px) {
	#sub_div_form {
		width: 290px;
		padding: 35px;
	}
}
/*-------------------------#Popup Windows end here-------------------------------*/
/*-------------------------Footer start here-----------------------------*/
	footer {
  		background: #0fafff;;
  		padding: 0% 10.42% 0% 10.42%;
		}

	.social{
  		font-family: "Noto Sans SC" sans-serif;
  		font-size: 1.111vw;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
			margin: 15% 0 15% 0;
	}

	.social li a:hover {
  		opacity: 0.5;
	}

	footer p{
  		font-family: "Noto Sans SC" sans-serif;
  		font-size: 1.111vw;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
			margin: 2% 0 2% 0;
	}
/*-------------------------Footer end here-------------------------------*/

/* ========================================================================== */


/* ==========================================================================
   Mobile styles
   ========================================================================== */
	 /* Medium screens ----------- */
	 @media screen and (min-width: 1025px){
		 	.fixed-nav a{
	 	  	 font-size: 1.270vw;
	 		}

			.topNav_btn {
					width:7.986vw;
					height:auto;
			}

			.topNav_btn p{
		  		font-size: 1.270vw;
			}

			.scroll-nav a{
				font-size: 1.270vw;
			}

			#section1{
					height: 70vh;
			}

			.rentbtn{
					width: 141px;
					height: 70px;
		  		border-radius: 4px;
		  		background-color: #0fafff;
			}

			.rentbtn p{
					font-size: 18px;
		  		font-family: "Noto Sans SC",sans-serif;
		  		font-weight: 600;
		  		font-style: normal;
		  		font-stretch: normal;
		  		line-height: normal;
		  		letter-spacing: 0.2px;
		  		color: #ffffff;
			}

			.join-left button{
					width: 141px;
		  		height: 70px;
		  		border-radius: 4px;
		  		background-color: #0fafff;
		  		font-family: "Noto Sans SC",sans-serif;
		  		font-size: 18px;
		  		font-weight: 400;
		  		font-style: normal;
		  		font-stretch: normal;
		  		line-height: normal;
		  		letter-spacing: 0.2px;
		  		color: #ffffff;
					margin-bottom: 15%;
			}
			.positions-list{
				margin-top: -13%;
			}
	 }

/* Landscape phone to portrait tablet */
	@media screen and (max-width: 767px) {
			.navbar-toggle:hover{
					background-color: none;
			}
			.fixedNav_logo{
					margin-top:4%;
			}
			.topNav_logo{
					margin-top: 4%;
			}
			.logo-img{
					max-width:150%;
					height:auto;
			}
			#section1{
					height: auto;
			}
			.aboutUS-title h1{
					font-size:14px;
					width: 100%;
			}
			.aboutUS-sutitle h3{
					font-size:14px;
			}
			.aboutUS-sutitle p{
					font-size:12px;
			}
			.rent-left h2{
					font-size: 20px;
			}
			.rent-left p{
					font-size:14px;
			}
			.carousel-indicators li{
					width:7px;
					height: 7px;
			}
			.carousel-indicators .active{
					width:7px;
					height: 7px;
			}
			.story{
				position: relative;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				box-shadow:none;
			}
			.story h2{
				font-size:20px;
			}
			.story p{
				font-size:14px;
			}
			#TeamPic img{
				max-width: 100%;
				height:auto;
				margin:5% 0 10% 0;
			}
			.join-left h2{
				font-size: 20px;
			}
			.join-left .subtitle{
				font-size: 12px;
			}
			.join-left 	h3{
				font-size: 14px;
			}
			.join-left .opening-positions{
				font-size:12px;
			}
			.positions-list{
				margin-top: 0;
			}
			.join-right .check_mark{
				padding-left: 0;
			}
			.join-right p{
				font-size: 12px;
				font-weight: 700;
			}
			footer p{
				font-size: 10px;
			}
	}
