/* 	==========================================================================
   	Global styles
   	========================================================================== */
	h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small{
			font-family: PingFangSC-Regular, sans-serif;
			margin:0;
	}

	section{
   		margin: 0px;
   		padding: 0% 10.42% 0% 10.42%;
	}

	h1 {
			font-family: PingFangSC-Semibold, sans-serif;
  		font-size: 67px;
  		font-weight: 600;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.9px;
  		color: #ffffff;
	}
/* 	========================================================================== */

/*	------------------Utilities------------------------------------------------ */
	a {
  		color: inherit;
  		font-weight: inherit;
  		font-size: inherit;
  		text-decoration: none;
	}

	a:hover, a:focus {
  		text-decoration: none;
  		color: #231f20;
  		-webkit-transition: all 0.35s ease-in-out;
  		-moz-transition: all 0.35s ease-in-out;
  		-o-transition: all 0.35s ease-in-out;
  		transition: all 0.35s ease-in-out;
	}

	.fa-lg {
  		font-size: 1.33333em;
  		line-height: 0.75em;
  		vertical-align: -10%;
	}

	::selection {
			background: #231f20; /* Safari */
			color: #FFFFFF;
	}

	::-moz-selection {
			background: #231f20; /* Firefox */
			color: #FFFFFF;
	}

	.row{
			margin-right: 0;
			margin-left: 0;
	}

/*	--------------------------------------------------------------------------- */

/* ==========================================================================
   Nav Styles
   ========================================================================== */
   .navbar {
    	border: 0px solid rgba(0, 0, 0, 0);
    	background: #70cbce;
    	margin: auto;
    	min-height: 40px;
    	padding-top: 2px;
    	position: fixed;
    	top: -69px;
    	transition: top 0.4s ease 0s;
	}

	.navbar.open {
    	top: 0;
	}

	.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    	color: #ffffff;
    	font-size: 14px;
    	letter-spacing: 1px;
	}

	.navbar-inverse .navbar-nav > li > a:hover {
    	color: #ffffff;
    	opacity: 0.6;
	}

	.nav > li > a {
    	position: relative;
    	display: block;
    	padding: 10px 10px;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    	border-color: #4ec3cd;
	}

	.navbar-inverse .navbar-toggle {
    	border-color: transparent;
	}

	.fixedNav{
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
	}

	.fixedNav_logo{
			padding: 0;
	}

	.logo img {
			margin-top: 0;
	}

	.navbar .fixed-nav{
  		position: relative;
  		top:25px;
			padding: 0;
	}

	.fixed-nav ul{
	  	list-style-type:none;
	  	margin: 0;
	  	padding: 0;
	}

	.fixed-nav li{
			display: inline-block;
	  	padding: 0% 2.53% 0% 2.53%;
	}

	.fixed-nav a{
	  	display: block;
	  	height: 25px;
	  	font-family: PingFangSC sans-serif;
	  	font-size: 18px;
	  	font-weight: normal;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.25px;
	  	color: #ffffff;
	}

	.navbar .fixed-nav>li>a:hover{
  		color: #ffffff;
  		opacity: 0.6;
	}

	.navbar-right{
  		width: auto;
	}

	.fixed_sigin{
			position: relative;
			top: 12.5px;
			padding: 0;
	}


/* ========================================================================== */

/* 	==========================================================================
   	Main styles
   	========================================================================== */
	/*-------------------------header start here---------------------------------*/
	header{
  		background: url(../img/header-bg.jpg) no-repeat center center;
  		width: 100%;
  		padding: 0px;
  		height: 694px;
  		overflow: hidden;
  		background-size: cover;
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
	}

	.topNav{
			margin: 0px;
			padding: 0% 10.6% 0% 10.6%;
			height: 106px;
	}

	.topNav_logo{
			position: relative;
			top:39px;
			padding-left: 0;
			padding-right: 0;
	}

	.scroll-nav{
			position: relative;
			top: 65px;
			padding: 0;
	}

	.scroll-nav ul{
	  	list-style-type:none;
	  	margin: 0;
	  	padding: 0;
	}

	.scroll-nav li{
	  	display: inline-block;
	  	padding: 0% 2.53% 0% 2.53%;
	}

	.scroll-nav a{
	  	display: block;
	  	height: 25px;
	  	font-size: 18px;
	  	font-weight: normal;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.25px;
	  	color: #ffffff;
	}

	.signin{
			position: relative;
			top: 50px;
			padding: 0;
	}

	.topNav_btn {
			width: 115px;
			height: 42px;
			border-radius: 4px;
			background-color: #ffffff;
	}

	.topNav_btn p{
			height: 22px;
  		font-family: PingFangSC-Semibold, sans-serif;
  		font-size: 16px;
  		font-weight: 600;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #0fafff;
	}

	.header-info {
  		position: absolute;
  		top:300px;
  		width: 100%;
	}
/*-------------------------header end here---------------------------------*/

/*-------------------------#AboutUs start here-----------------------------*/
	#AboutUs {
			height: 694px;
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #ffffff;
	}

	.aboutUS-title{
			padding: 66px 0px 91px 0px;
	}

	.aboutUS-title h1{
			width: 653px;
	  	height: 80px;
	  	position: relative;
	  	font-family: PingFangSC-Medium, sans-serif;
	  	font-size: 28px;
	  	font-weight: 500;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.4px;
			text-align: center;
	  	color: #12272e;
	}

	.thumbnail{
	  	position: relative;
	  	top:25%;
	  	border: 0 none;
	  	box-shadow: none;
	}

	.aboutUS-sutitle h3{
			height: 30px;
			font-family: PingFangSC-Semibold, sans-serif;
			font-size: 22px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #12272e;
			text-align: center;
			margin: 12px 0px 12px 0px;
	}

	.aboutUS-sutitle p{
			font-family: PingFangSC-Medium,sans-serif;
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.56;
			letter-spacing: 0.2px;
			text-align: center;
			color: #415258;
			padding: 0% 8.5% 0% 8.5%;
	}

/*-------------------------#AboutUs end here-------------------------------*/

/*-------------------------#Rent start here-----------------------------*/
	#Rent{
			height: 851px;
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #f2fbfe;
	}

	.rent-left h2{
			height: 53px;
			font-family: PingFangSC-Semibold, sans-serif;
			font-size: 38px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			color: #12272e;
			margin: 63px 0px 20px 0px;
	}

	.rent-left p{
			width: 465px;
			height: 60px;
			font-family: PingFangSC-Medium,sans-serif;
			font-size: 22px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #415258;
	}

	.mySlides {
			display: none;
	}

	img {
			vertical-align: middle;
	}

	/* Slideshow container */
	.slideshow-container {
	  	max-width: 1000px;
	  	position: relative;
	  	margin: auto;
	}

	.dot {
	  	height: 15px;
	  	width: 15px;
	  	margin: 0 2px;
	  	background-color: #bbb;
	  	border-radius: 50%;
	  	display: inline-block;
	  	transition: background-color 1s ease;
	}

	.active {
	  	background-color: #717171;
	}

	/* Fading animation */
	.fade {
	  	-webkit-animation-name: fade;
	  	-webkit-animation-duration: 2s;
	  	animation-name: fade;
	  	animation-duration: 7s;
	}

	@-webkit-keyframes fade {
	  	from {opacity: 0.1}
	  	to {opacity: 1}
	}

	@keyframes fade {
	  	from {opacity: 0.1}
	  	to {opacity: 1}
	}

	#iphonechat{
	  	position: absolute;
			top: 172px;
	  	left: 25%;
	  	right: 25%;
	}

	.chatlogs{
			width: 85%;
			position: absolute;
			top: 230px;
	}

	.chat{
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
	}

	.rent-right .row{
			position: absolute;
			top: 665px;
			left:20%;
	}

	.rentbtn{
			width: 141px;
  		height: 56px;
  		border-radius: 4px;
  		background-color: #0fafff;
	}

	.rentbtn p{
  		height: 22px;
  		font-family: PingFangSC-Semibold,sans-serif;
  		font-size: 16px;
  		font-weight: 600;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
	}

/*-------------------------#Rent end here-------------------------------*/

/*-------------------------#OurStory start here-----------------------------*/
	#OurStory {
			height: 865px;
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #ffffff;
	}

	#TeamPic {
	  	position: absolute;
	  	left:43.8%;
	}

	#TeamPic img{
			position: relative;
			top:311px;
	}

	.container {
			padding-left: 4.5%;
			padding-right: 4.5%;
	}

	.story	{
			position: absolute;
			margin: 106px 0px 171px 0px;
			width: 557px;
  		height: 588px;
  		border-radius: 18px;
  		box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.08);
  		background-color: #ffffff;
	}

	.story h2 {
			height: 53px;
			font-family: PingFangSC-Semibold,sans-serif;
			font-size: 38px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			color: #12272e;
			padding: 47px 0px 20px 0px;
	}

	.story p {
			width: 425px;
  		height: 418px;
  		font-family: PingFangSC-Medium, sans-serif;
  		font-size: 22px;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: 1.59;
  		letter-spacing: 0.3px;
  		color: #415258;
			padding-top: 30px;
	}
/*-------------------------#OurStory end here-------------------------------*/
/*-------------------------#OurTeam start here-----------------------------*/
	#OurTeam {
  		height: 1210px;
  		background-color: rgba(242, 251, 254, 1);
			padding: 0% 10.42% 0% 10.42%;
			margin: 0;
	}

	.teamTitle {
			padding-top: 71px;
	}

	#OurTeam h1{
	  	width: 193px;
	  	height: 53px;
	  	font-family: PingFangSC-Medium, sans-serif;
	  	font-size: 38px;
	  	font-weight: 500;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.5px;
	  	color: #12272e;
	  	margin-bottom: 30px;
	}

	.members {
			padding: 0px;
	}

	.member {
		 	margin-bottom: 70px;
	}

	#OurTeam img{
			height: 170px;
			width: auto;
	  	margin: auto;
	  	display: block;
	}

	#OurTeam p._name{
			height: 33px;
	  	font-size: 24px;
	  	text-align: center;
	  	font-family: PingFangSC-Semibold, sans-serif;
	  	font-weight: 500;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #262a3e;
	}

	#OurTeam p._title{
			height: 30px;
	  	font-size: 22px;
	  	text-align: center;
	  	font-weight: normal;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #262a3e;
	}
/*-------------------------#OurTeam end here-------------------------------*/

/*-------------------------#JoinUs start here-----------------------------*/
	#JoinUs {
			height: 670px;
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #ffffff;
	}

	.join-left h2{
			height: 53px;
			font-family: PingFangSC-Semibold,sans-serif;
			font-size: 38px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			color: #12272e;
			margin-top: 65px;
			margin-bottom: 20px;
	}

	.join-left .subtitle{
			height: 90px;
			font-family: PingFangSC-Medium, sans-serif;
			font-size: 22px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #415258;
			margin-bottom: 56px;
	}

	.join-left h3{
  		height: 40px;
  		font-family: PingFangSC-Medium, sans-serif;
  		font-size: 28px;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: normal;
  		color: #12272e;
			margin-bottom: 15px;
	}

	.join-left .opening-positions{
  		height: 120px;
  		font-size: 22px;
  		font-weight: normal;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.3px;
  		color: #12272e;
	}

	.join-left button{
			width: 141px;
  		height: 56px;
  		border-radius: 4px;
  		background-color: #0fafff;
  		font-family: PingFangSC-Semibold,sans-serif;
  		font-size: 16px;
  		font-weight: 600;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
	}

	.join-right{
			margin-top: 137px;
	}

	.points{
			margin-bottom: 67px;
	}

	.check_mark{
			width: 64px;
			height: 64px;
			object-fit: contain;
	}

	.join-right p{
			height: 60px;
			font-size: 22px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #12272e;
	}


/*-------------------------#JoinUs end here-------------------------------*/

/*-------------------------Footer start here-----------------------------*/
footer {
  background: #0fafff;;
  padding: 10px 0px;
  height: auto;
}

.social{
  font-family: "PingFangSC" sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.social li a:hover {
  opacity: 0.5;
}

footer p{
  width: 295px;
  height: 44px;
  font-family: "PingFangSC" sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
}
/*-------------------------Footer end here-------------------------------*/

/* ========================================================================== */


/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) {

	.btn-lg {
  		font-size: 12.5px;
  		line-height: 1.33;
  		padding: 16px 13px;
  		letter-spacing: 0px;
	}


	.btn-wide {
  		width: 100%;
  		font-size: 12.5px;
  		line-height: 1.33;
  		padding: 16px 13px;
  		letter-spacing: 0px;
	}

	#be-the-first {
      background-attachment: scroll;
  	}

}


/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

	#be-the-first {
      	background-attachment: scroll;
  	}

}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

	#be-the-first {
      	background-attachment: scroll;
  	}

}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}



/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}
