/* 	==========================================================================
   	Global styles
   	========================================================================== */
	body{
			height:100%;
			width: 100%;
	}
	h1, h2, h3, h4, h5, h6, p, a, .btn, .navbar-nav a, .form-control, .list-inline, small{
			font-family: "Noto Sans SC", sans-serif;
			margin:0;
	}
/* 	========================================================================== */

/*	------------------Utilities------------------------------------------------ */
	a {
  		color: inherit;
  		font-weight: inherit;
  		font-size: inherit;
  		text-decoration: none;
	}

	a:hover, a:focus {
  		text-decoration: none;
  		color: #231f20;
  		-webkit-transition: all 0.35s ease-in-out;
  		-moz-transition: all 0.35s ease-in-out;
  		-o-transition: all 0.35s ease-in-out;
  		transition: all 0.35s ease-in-out;
	}

	.fa-lg {
  		font-size: 1.33333em;
  		line-height: 0.75em;
  		vertical-align: -10%;
	}

	::selection {
			background: #231f20; /* Safari */
			color: #FFFFFF;
	}

	::-moz-selection {
			background: #231f20; /* Firefox */
			color: #FFFFFF;
	}

	.row{
			margin-right: 0;
			margin-left: 0;
	}

	.container{
			margin: 0;
	}

	.img-responsive{
		max-width: 100%;
		height: auto;
	}
/*	--------------------------------------------------------------------------- */

/* ==========================================================================
   Nav Styles
   ========================================================================== */
   .navbar {
    	border: 0px solid rgba(0, 0, 0, 0);
    	background: #70cbce;
    	margin: auto;
    	min-height: 40px;
    	padding-top: 2px;
    	position: fixed;
    	top: -69px;
    	transition: top 0.4s ease 0s;
	}

	.navbar.open {
    	top: 0;
	}

	.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    	color: #ffffff;
    	font-size: 10px;
    	letter-spacing: 0.3px;
	}

	.navbar-inverse .navbar-nav > li > a:hover {
    	color: #ffffff;
    	opacity: 0.6;
	}

	.nav > li > a {
    	position: relative;
    	display: block;
    	padding: 10px 10px;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    	border-color: #4ec3cd;
	}

	.navbar-inverse .navbar-toggle {
    	border-color: transparent;
	}

	.fixedNav{
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
	}

	.fixedNav_logo{
			padding: 0;
	}

	.logo img {
			margin-top: 0;
	}

	.navbar .fixed-nav{
			margin-top:2.25%;
			padding: 0;
	}

	.fixed-nav ul{
	  	list-style-type:none;
			padding-inline-start:10%;
	}

	.fixed-nav li{
			display: inline-block;
	  	margin: 0 1.302vw 0 1.302vw;
	}

	.fixed-nav a{
			font-family: "Noto Sans SC", sans-serif;
	  	display: block;
	  	font-size: 10px;
	  	font-weight: normal;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #ffffff;
	}

	.navbar .fixed-nav>li>a:hover{
  		color: #ffffff;
  		opacity: 0.6;
	}

	.navbar-right{
  		width: auto;
	}

	.fixed_sigin{
			position: relative;
			top: 12.5px;
			padding: 0;
	}


/* ========================================================================== */

/* 	==========================================================================
   	Main styles
   	========================================================================== */
	/*-------------------------header start here---------------------------------*/
	header{
  		width: 100%;
  		padding: 0px;
			height: auto;
	}

	.topNav{
			margin: 0px;
			padding: 0% 10.6% 0% 10.6%;
			height: 106px;
	}

	.topNav_logo{
			padding-left: 0;
			padding-right: 0;
	}

	.scroll-nav{
			margin-top:2%;
			padding: 0;
	}

	.scroll-nav ul{
	  	list-style-type:none;
	  	padding-inline-start:10%;
	}

	.scroll-nav li{
	  	display: inline-block;
	  	margin: 0 1.302vw 0 1.302vw;
	}

	.scroll-nav a{
	  	display: block;
	  	font-size: 10px;
	  	font-weight: 500;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #ffffff;
	}

	.signin{
			margin-top: 2%;
			padding: 0;
	}

	.topNav_btn {
			width:61.3px;
			height:22.4px;
			border-radius: 4px;
			background-color: #ffffff;
	}

	.topNav_btn p{
  		font-family: "Noto Sans SC", sans-serif;
  		font-size: 8.5px;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		letter-spacing: 0.2px;
  		color: #0fafff;
	}

	.header-info {
  		width: 100%;
	}

	#section1{
			min-height: 370px;
			height:70vh;
			width: 100%;
			background: url(../img/header-bg.jpg) no-repeat center center;
  		background-size: cover;
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
	}

	.slogan{
			font-size: 4.688vw;
			color: #ffffff;
			font-weight: 600;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.5px;
	}
/*-------------------------header end here---------------------------------*/

/*-------------------------#AboutUs start here-----------------------------*/
	#AboutUs {
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #ffffff;
	}

	.aboutUS-title{
			margin: 5% 0 7.5% 0;
	}

	.aboutUS-title h1{
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			height: auto;
	  	font-family: "Noto Sans SC", sans-serif;
	  	font-size: 2.083vw;
	  	font-weight: 500;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.4px;
			text-align: center;
	  	color: #12272e;
	}

	.thumbnail{
	  	position: relative;
	  	top:25%;
	  	border: 0 none;
	  	box-shadow: none;
	}

	.aboutUS-sutitle h3{
			font-family: "Noto Sans SC", sans-serif;
			font-size: 1.693vw;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #12272e;
			text-align: center;
			margin: 2% 0 2% 0;
	}

	.aboutUS-sutitle p{
			font-family: "Noto Sans SC",sans-serif;
			font-size: 1.302vw;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.56;
			letter-spacing: 0.2px;
			text-align: center;
			color: #415258;
	}

/*-------------------------#AboutUs end here-------------------------------*/

/*-------------------------#Rent start here-----------------------------*/
	#Rent{
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #f2fbfe;
	}

	.rent-left h2{
			font-family: "Noto Sans SC", sans-serif;
			font-size: 2.865vw;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			color: #12272e;
			margin: 10% 0 4% 0;
	}

	.rent-left p{
			width: 90%;
			font-family: "Noto Sans SC",sans-serif;
			font-size: 1.693vw;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #415258;
	}

	.mySlides {
			display: none;
	}

	img {
			vertical-align: middle;
	}

	/* Slideshow container */
	.slideshow-container {
	  	max-width: 50%;
	  	margin: auto;
	}

	.carousel-indicators{
		position: relative;
	}

	.carousel-indicators li{
		background-color: black;
	}

	.carousel-indicators .active{
		background-color: gray;
	}

	.rent-right button{
			position: relative;
			left:25%;
			right:25%;
			margin-top:100%
	}

	.rentbtn{
			width: 75px;
			height: 30px;
  		height: auto;
  		border-radius: 4px;
  		background-color: #0fafff;
	}

	.rentbtn p{
			font-size: 8.5px;
  		font-family: "Noto Sans SC",sans-serif;
  		font-weight: 600;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
	}

/*-------------------------#Rent end here-------------------------------*/

/*-------------------------#OurStory start here-----------------------------*/
	#OurStory {
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #ffffff;
	}

	#TeamPic {

	}

	#TeamPic img{
		max-width: 55%;
		height: auto;
		margin: 40% 10% 20% 45%;
	}

	.story	{
			position: absolute;
			width: 40%;
			height: auto;
  		border-radius: 18px;
  		box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.08);
  		background-color: #ffffff;
			padding: 0 5% 0 5%;
			margin: 10% 0 0 0;
	}

	.story h2 {
			font-family: "Noto Sans SC",sans-serif;
			font-size: 2.865vw;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			color: #12272e;
			margin: 7% 0 2.5% 0;
	}

	.story p {
  		font-family: "Noto Sans SC", sans-serif;
  		font-size: 1.693vw;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: 1.59;
  		letter-spacing: 0.3px;
  		color: #415258;
			margin-bottom: 7%;
	}
/*-------------------------#OurStory end here-------------------------------*/
/*-------------------------#OurTeam start here-----------------------------*/
	#OurTeam {
  		background-color: rgba(242, 251, 254, 1);
			padding: 0% 10.42% 0% 10.42%;
			margin: 0;
	}

	#OurTeam h1{
	  	font-family: "Noto Sans SC", sans-serif;
	  	font-size: 2.865vw;
	  	font-weight: 500;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.5px;
	  	color: #12272e;
			margin-left: auto;
			margin-right: auto;
			margin-top:20%;
			margin-bottom:20%;
			text-align: center;
	}

	.members {
			padding: 0px;
	}

	#OurTeam img{
	  	margin: auto;
	  	display: block;
			margin-bottom: 10%;
	}

	#OurTeam p._name{
	  	font-size: 12.8px;
	  	text-align: center;
	  	font-family: "Noto Sans SC", sans-serif;
	  	font-weight: 700;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #262a3e;
	}

	#OurTeam p._title{
	  	font-size: 11.7px;
	  	text-align: center;
	  	font-weight: normal;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: normal;
	  	letter-spacing: 0.3px;
	  	color: #415258;
			margin-bottom: 10%;
	}
/*-------------------------#OurTeam end here-------------------------------*/

/*-------------------------#JoinUs start here-----------------------------*/
	#JoinUs {
			margin: 0px;
			padding: 0% 10.42% 0% 10.42%;
			background-color: #ffffff;
	}

	.join-left h2{
			font-family: "Noto Sans SC",sans-serif;
			font-size: 2.865vw;
			font-weight: 700;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			color: #12272e;
			margin-top: 10%;
			margin-bottom: 5%;
	}

	.join-left .subtitle{
			font-family: "Noto Sans SC", sans-serif;
			font-size: 1.693vw;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #415258;
			margin-bottom: 7.5%;
	}

	.join-left h3{
  		font-family: "Noto Sans SC", sans-serif;
  		font-size: 2.083vw;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: normal;
  		color: #12272e;
			margin-bottom: 15px;
	}

	.join-left .opening-positions{
  		font-size: 1.693vw;
  		font-weight: normal;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.3px;
  		color: #12272e;
			margin-bottom: 25px;
	}

	.join-left button{
			width: 75px;
  		height: 30px;
  		border-radius: 4px;
  		background-color: #0fafff;
  		font-family: "Noto Sans SC",sans-serif;
  		font-size: 9.5px;
  		font-weight: 400;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
			margin-bottom: 15%;
	}

	.join-right{
			margin-top: 13%;
	}

	.points{
			margin-bottom: 10%;
	}

	.check_mark{
			object-fit: contain;
	}

	.join-right p{
			height: 60px;
			font-size: 1.693vw;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.3px;
			color: #12272e;
	}


/*-------------------------#JoinUs end here-------------------------------*/

/*-------------------------Footer start here-----------------------------*/
	footer {
  		background: #0fafff;;
  		padding: 0% 10.42% 0% 10.42%;
  		height: auto;
		}

	.social{
  		font-family: "Noto Sans SC" sans-serif;
  		font-size: 16px;
  		font-weight: 400;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
	}

	.social li a:hover {
  		opacity: 0.5;
	}

	footer p{
  		font-family: "Noto Sans SC" sans-serif;
  		font-size: 16px;
  		font-weight: 400;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.2px;
  		color: #ffffff;
	}
/*-------------------------Footer end here-------------------------------*/

/* ========================================================================== */


/* ==========================================================================
   Mobile styles
   ========================================================================== */
	 /* Medium screens ----------- */
	 /*@media screen and (min-width: 768px) and (max-width: 1399px) {
		 		h1{
						font-size:2.25em;
				}
		 		.navbar .fixed-nav {
    				position: relative;
    				top: 8px;
    				padding: 0;
				}
		 		.fixedNav_logo{
 						padding: 0;
 				}

 				.logo img {
 						margin-top: 0;
						width: 83%;
						height: auto;
 				}

 				.fixed-nav li{
 						display: inline-block;
 		  			padding: 0% 2.8% 0% 2.8%;
 				}

 				.fixed-nav a{
						font-size: 0.7em;
 				}

 				.navbar .fixed-nav>li>a:hover{
 	  				color: #ffffff;
 	  				opacity: 0.6;
 				}

 				.navbar-right{
 	  				width: auto;
 				}

 				.fixed_sigin{
 						position: relative;
 						top: 7.5px;
 						padding: 0;
 				}

	 			header{
	 		 			height: 370px;
	 			}

				.topNav{
						height: 56.8px;
				}

				.topNav_logo{
						position: relative;
						top:20.8px;
						padding-left: 0;
						padding-right: 0;
				}

				.topNav_logo img{
						width: 83%;
						height: auto;
				}

				.scroll-nav{
						position: relative;
						top: 31px;
						padding: 0;
				}

				.scroll-nav li{
		  			margin: 0 2.8% 0 2.8%;
				}


				.scroll-nav a{
		  			font-size: 10px;
				}

				.signin{
						position: relative;
						top: 26.7px;
						padding: 0;
				}

				.topNav_btn {
						width: 55%;
						height: auto;
						border-radius: 4px;
						background-color: #ffffff;
						padding: 5.3px 13px 5.3px 13px;
				}

				.topNav_btn p{
						height: 12px;
	  				font-family: "Noto Sans SC", sans-serif;
	  				font-size: 8.5px;
	  				font-weight: 600;
	  				font-style: normal;
	  				font-stretch: normal;
	  				line-height: normal;
	  				letter-spacing: 0.1px;
	  				color: #0fafff;
				}

				.header-info {
	  				position: absolute;
	  				top:160px;
	  				width: 100%;
				}

				#AboutUs{
						height: 40vh;
				}

				.aboutUS-title{
						padding: 32px 0px 49px 0px;
				}

				.aboutUS-title h1{
						width: 45vw;
				  	height: auto;
				  	font-size: 2.083vw;
				}

				.aboutUs-img{
						height:53%;
						width: 53%;
				}

				.aboutUS-sutitle h3{
						height: 30px;
						font-size: 1.693vw;
						margin: 1px 0px 12px 0px;
				}

				.aboutUS-sutitle p{
						font-size: 1.302vw;
						padding: 0% 8.5% 0% 8.5%;
				}

				#Rent{
						height: 454px;
				}

				.rent-left h2{
						font-size: 2.865vw;
						height: 33px;
						margin-top: 22.7px;
						margin-bottom:9px;
				}

				.rent-left p{
						width: 90%;
						height: auto;
						font-size: 1.693vw;
				}

				.dot {
				  	height: 1.042vw;
				  	width: 1.042vw;
				}

				#iphonechat{
				  	position: absolute;
						top: 75px;
				  	left: 25%;
				  	right: 25%;
				}

				.chatlogs{
						position: absolute;
						top: 130px;
				}

				.rentbtn{
						width: 75.2px;
			  		height: 30px;
				}

				.rentbtn p{
			  		height: auto;
			  		font-size: 1.107vw;
				}

				#OurStory {
						height: 461.3px;
				}

				#TeamPic {
						position: absolute;
						left:43.8%;
				}

				#TeamPic img{
						position: relative;
						width: 45vw;
						heigt:auto;
						top:165.9px;
				}

				.story	{
						position: absolute;
						margin: 56.5px 0px 91.2px 0px;
						width: 308px;
						height: 313.6px;
				}

				.story h2 {
						height: 33px;
						font-size: 2.865vw;
						margin: 17.3px 0px 5.6px 0px;
				}

				.story p {
						width: 254px;
						height: 241px;
						font-size: 1.693vw;
						margin-top: 5px;
				}

				#OurTeam {
			  		height: 645.3px;
				}

				.teamTitle {
						padding-top: 36px;
				}

				#OurTeam h1{
				  	width: 130px;
				  	height: 30px;
				  	font-size: 2.865vw;
				  	margin-bottom: 30px;
				}

				.member {
					 	margin-bottom: 35px;
				}

				#OurTeam img{
						height: auto;
						width: 11.8vw;
						margin-bottom: 17px;
						margin-left:10px;
						margin-right:10px;
				}

				#OurTeam p._name{
						height: 18px;
				  	font-size: 1.667vw;
				}

				#OurTeam p._title{
						height: 16px;
				  	font-size: 1.523vw;
				}

				#JoinUs {
						height: 357.3px;
				}

				.join-left h2{
						height: 33px;
						font-size: 2.865vw;
						margin-top: 33.2px;
						margin-bottom: 9px;
				}

				.join-left .subtitle{
						height: auto;
						width:39.063vw;
						font-size: 1.693vw;
						margin-bottom: 23px;
				}

				.join-left h3{
			  		height: 24px;
			  		font-size: 2.083vw;
						margin-bottom: 5.3px;
				}

				.join-left .opening-positions{
			  		height: 76px;
			  		font-size: 1.693vw;
						margin-bottom: 16.7px;
				}

				.join-left button{
						width: 75.2px;
			  		height: 30px;
			  		font-size: 1.107vw;
				}

				.join-right{
						margin-top: 77.1px;
				}

				.points{
						margin-bottom: 29.7px;
				}

				.check_mark{
					padding: 0;
					height: auto;
					width: auto;
				}

				.check_mark img{
						width: 4.5vw;
						height: auto;
						object-fit: contain;
				}

				.join-right p{
						height: auto;
						width: 29.818vw;
						font-size: 1.693vw;
				}

				.point{
					padding: 0;
				}
	 }*/

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
	header{

	}


}
